*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0px 10px;
}

.logo{
    margin: 0;
    padding: 0px 30px;
    font-size: 1.15em;
    font-weight: bold;
    color: cornflowerblue;
    flex-direction: row;
}

header .container{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2px 30px;
}

header a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1px 20px;
}

header a:hover{
    color: cornflowerblue ;
}

h1{font-size: 3.5em;}
h3{font-size: 1.5em;}
p{font-size: 1.35em;}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center ;
    flex-direction: column;
    height: 65vh;
    color: white;
    background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    ),url("../images/programacio\,png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#inicio h1{
    font-family: 'Roboto' sans-serif;
    color: white;
    font-size: 3em;
}

#contáctanos{
    padding: 2px 5px;
    font-size: 1em;
    flex-direction: row;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: 5px 10px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
}

#contáctanos:hover{
    background-color: rgb(136, 168, 230);
}

.contenido{
    display: flex;
    height: 65vh;
    background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    ),url("../images/tituloprogramacion.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    max-width: 700px;
    margin: 50px 30px
}

.texto{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 0px 12px;
}

.texto p{
    padding: 0px 10px;
    font-size: 1.2em;
}

@media (min-width: 800px){
    .container{
        margin: auto;
    }

    .logo{
        padding: 0px 40px;
    }

    nav{
        padding: 0px 40px;
        flex-direction: row;
    }

    #inicio h1{
        font-size: 4em;
    }

    #section1{
        display: flex;
        flex-direction: row;
    }
}